
*.MF
VIF-Backend/target/classes/META-INF/MANIFEST.MF
VIF-Backend/target/classes/META-INF/maven/chungkhoan.vif/VIF-Backend/pom.properties
*.class
VIF-Backend/target/*.*
*.class
*.class
*.MF
VIF-Backend/target/classes/META-INF/MANIFEST.MF
*.class
VIF-Backend/src/main/resources/application.properties
VIF-Frontend/src/app/config/application.config.ts
