<div class="card">
    <div class="card-header">
        <span *ngIf="id==0">
            <i class="fa fa-customer-plus"></i>
            <strong>{{'vif.customer.title2' | translate}}</strong>
        </span>
        <span *ngIf="id>0">
            <i class="fa fa-customer"></i>
            <strong>{{'vif.customer.title3' | translate}}</strong>
        </span>

    </div>
    <!--[Start] Create -->
    <form [formGroup]="addCustomerForm" (ngSubmit)="onAddSubmit()">
        <div class="card-body" *ngIf="id==0">
            <div class="row">
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="company">{{'vif.customer.fullName' | translate}}<span
                                    class="asterisk">&#42;</span></label>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <input type="text" formControlName="fullName" class="form-control" id="fullName-id"
                                    placeholder="{{'vif.customer.fullName_placeholder' | translate}}">
                                <div *ngIf="addForm.fullName.invalid && (addForm.fullName.dirty || addForm.fullName.touched)"
                                    class="alert alert-danger">
                                    <div *ngIf="addForm.fullName.errors.required">
                                        {{'vif.message.fullName_require' | translate}}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="offset-md-2 col-md-5">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="company">{{'vif.customer.identityNumber' | translate}}<span
                                    class="asterisk">&#42;</span></label>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <input type="text" formControlName="identityNumber" class="form-control"
                                    id="identityNumber-id"
                                    placeholder="{{'vif.customer.identityNumber_placeholder' | translate}}">
                                <div *ngIf="addForm.identityNumber.invalid && (addForm.identityNumber.dirty || addForm.identityNumber.touched)"
                                    class="alert alert-danger">
                                    <div *ngIf="addForm.identityNumber.errors.required">
                                        {{'vif.message.identityNumber_require' | translate}}
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="company">{{'vif.customer.email' | translate}}<span
                                    class="asterisk">&#42;</span></label>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <input type="text" formControlName="email" class="form-control" id="email-id"
                                    placeholder="{{'vif.customer.email_placeholder' | translate}}">
                                <div *ngIf="addForm.email.invalid && (addForm.email.dirty || addForm.email.touched)"
                                    class="alert alert-danger">
                                    <div *ngIf="addForm.email.errors.required">
                                        {{'vif.message.email_require' | translate}}
                                    </div>
                                    <div *ngIf="addForm.email.errors.email">
                                        {{'vif.message.email_invalid' | translate}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="offset-md-2 col-md-5">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="company">{{'vif.customer.dateOfBirth' | translate}}<span
                                    class="asterisk">&#42;</span></label>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <input #dtLanc="bsDatepicker" class="form-control " formControlName="dateOfBirth"
                                    [(ngModel)]="dateOfBirth" id="dateOfBirth-id"
                                    placeholder="{{'vif.customer.dateOfBirth_placeholder' | translate}}" bsDatepicker
                                    [maxDate]="maxDate">
                                <div *ngIf="addForm.dateOfBirth.invalid && (addForm.dateOfBirth.dirty || addForm.dateOfBirth.touched)"
                                    class="alert alert-danger">
                                    <div *ngIf="addForm.dateOfBirth.errors.required">
                                        {{'vif.message.dateOfBirth_require' | translate}}
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="company">{{'vif.customer.avatar' | translate}}<span
                                    class="asterisk">&#42;</span></label>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <div class="form-group">

                                    <input type="file"  (change)="showPreviewAvatar($event)" class="upload"
                                        formControlName="avatar" class="form-control" id="avatar-id"
                                        accept=" .jpg,.jpeg,.png " ngModel (change)="onFileUpload($event)">
                                        
                                    <img [src]="localUrlAvatar" *ngIf="localUrlAvatar" class="imgPlaceholder" width="100px" height="100px" >
                                    <div *ngIf="addForm.avatar.invalid && (addForm.avatar.dirty || addForm.avatar.touched)"
                                        class="alert alert-danger">
                                        <div *ngIf="addForm.avatar.errors.required">
                                            {{'vif.message.avatar_require' | translate}}
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="offset-md-2 col-md-5">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="company">{{'vif.customer.status' | translate}}<span
                                    class="asterisk">&#42;</span></label>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <select id="select-status" name="selectStatus" class="form-control"
                                    formControlName="status">
                                    <option [ngValue]="actFlg.value" *ngFor="let actFlg of status">{{actFlg.name}}
                                    </option>
                                </select>
                                <div *ngIf="addForm.status.invalid && (addForm.status.dirty || addForm.status.touched)"
                                    class="alert alert-danger">
                                    <div *ngIf="addForm.status.errors.required">
                                        {{'vif.message.status_require' | translate}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="company">{{'vif.customer.identityDocFront' | translate}}<span
                                    class="asterisk">&#42;</span></label>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <input type="file" formControlName="identityDocFront" class="form-control"
                                (change)="showPreviewFront($event)"
                                    id="identityDocFront-id">
                                    <img [src]="localUrlFront" *ngIf="localUrlFront" class="imgPlaceholder" width="100px" height="100px" >

                                <div *ngIf="addForm.identityDocFront.invalid && (addForm.identityDocFront.dirty || addForm.identityDocFront.touched)"
                                    class="alert alert-danger">
                                    <div *ngIf="addForm.identityDocFront.errors.required">
                                        {{'vif.message.avatar_require' | translate}}
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="offset-md-2 col-md-5">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="company">{{'vif.customer.identityDocBack' | translate}}<span
                                    class="asterisk">&#42;</span></label>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <input type="file" formControlName="identityDocBack" class="form-control"
                                (change)="showPreviewBack($event)"
                                    id="identityDocBack-id">
                                    <img [src]="localUrlBack" *ngIf="localUrlBack" class="imgPlaceholder" width="100px" height="100px" >

                                <div *ngIf="addForm.identityDocBack.invalid && (addForm.identityDocBack.dirty || addForm.identityDocBack.touched)"
                                    class="alert alert-danger">
                                    <div *ngIf="addForm.identityDocBack.errors.required">
                                        {{'vif.message.avatar_require' | translate}}
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="company">{{'vif.customer.signContractDate' | translate}}<span
                                    class="asterisk">&#42;</span></label>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <input #dtLanc="bsDatepicker" class="form-control " formControlName="signContractDate"
                                    id="signContractDate-id"
                                    placeholder="{{'vif.customer.signContractDate_placeholder' | translate}}"
                                    bsDatepicker>

                                <div *ngIf="addForm.signContractDate.invalid && (addForm.signContractDate.dirty || addForm.signContractDate.touched)"
                                    class="alert alert-danger">
                                    <div *ngIf="addForm.signContractDate.errors.required">
                                        {{'vif.message.signContractDate_require' | translate}}
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>



            <!---->
            <div class="card-footer">
                <button class="btn btn-primary" type="submit">{{'vif.global.button.save' | translate}}</button>
                <button class="btn btn-secondary"
                    routerLink="/customer-management">{{'vif.global.button.cancel' | translate}}</button>
            </div>
        </div>
        <!--[End] Create customer-->
    </form>


    <!--[Start] Edit customer -->
    <form *ngIf="customer && id>0" [formGroup]="editCustomerForm" (ngSubmit)="onEditSubmit()">
        <div class="card-body" *ngIf="customer && id>0">
            <div class="row">
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="company">{{'vif.customer.fullName' | translate}}<span
                                    class="asterisk">&#42;</span></label>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <input type="text" formControlName="eFullName" class="form-control" id="eFullName-id"
                                    placeholder="{{'vif.customer.fullName_placeholder' | translate}}">
                                <div *ngIf="editForm.eFullName.invalid && (addForm.eFullName.dirty || editForm.eFullName.touched)"
                                    class="alert alert-danger">
                                    <div *ngIf="aditForm.fullName.errors.required">
                                        {{'vif.message.fullName_require' | translate}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="offset-md-2 col-md-5">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="company">{{'vif.customer.email' | translate}}<span
                                    class="asterisk">&#42;</span></label>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <input type="text" formControlName="eEmail" class="form-control" id="eEmail-id"
                                    placeholder="{{'vif.customer.email_placeholder' | translate}}">
                                <div *ngIf="editForm.eEmail.invalid && (editForm.eEmail.dirty || editForm.eEmail.touched)"
                                    class="alert alert-danger">
                                    <div *ngIf="editForm.eEmail.errors.required">
                                        {{'vif.message.email_require' | translate}}
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="company">{{'vif.customer.dateOfBirth' | translate}}<span
                                    class="asterisk">&#42;</span></label>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="eDateOfBirth"
                                    [bsConfig]="bsConfig" bsDatepicker value="{{showDateOfBirth | date : 'short'}}"
                                    placeholder="{{'vif.customer.dateOfBirth_placeholder' | translate}}">
                                <div *ngIf="editForm.eDateOfBirth.invalid && (editForm.eDateOfBirth.dirty || editForm.eDateOfBirth.touched)"
                                    class="alert alert-danger">
                                    <div *ngIf="editForm.eDateOfBirth.errors.required">
                                        {{'vif.message.dateOfBirth_require' | translate}}
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="offset-md-2 col-md-5">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="company">{{'vif.customer.identityNumber' | translate}}<span
                                    class="asterisk">&#42;</span></label>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="eIdentityNumber"
                                    id="eIdentityNumber-id"
                                    placeholder="{{'vif.customer.identityNumber_placeholder' | translate}}">

                                <div *ngIf="editForm.eIdentityNumber.invalid && (editForm.eIdentityNumber.dirty || editForm.eIdentityNumber.touched)"
                                    class="alert alert-danger">
                                    <div *ngIf="editForm.eIdentityNumber.errors.required">
                                        {{'vif.message.identityNumber_require' | translate}}
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="company">{{'vif.customer.signContractDate' | translate}}<span
                                    class="asterisk">&#42;</span></label>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="eSignContractDate"
                                    value="{{showSignContractDate | date : 'short'}}" [bsConfig]="bsConfig" bsDatepicker
                                    placeholder="{{eSignContractDate}}">


                                <div *ngIf="editForm.eSignContractDate.invalid && (editForm.eSignContractDate.dirty || editForm.eSignContractDate.touched)"
                                    class="alert alert-danger">
                                    <div *ngIf="editForm.eSignContractDate.errors.required">
                                        {{'vif.message.signContractDate_require' | translate}}
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>





            </div>


            <!--Doc front / back -->



            <div *ngIf="customer.activeFlg==1" class="card-footer">
                <button class="btn btn-primary" type="submit">{{'vif.global.button.update' | translate}}</button>
                <button class="btn btn-secondary"
                    routerLink="/customer-management">{{'vif.global.button.cancel' | translate}}</button>
            </div>
        </div>
    </form>
</div>


<!--[End] Edit-->