<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <span>{{ 'vif.appParam.title1' | translate }}</span>
          <button class="btn btn-primary" style="float: right;"
            [routerLink]="['/app-param/ce-appParam', 0]">{{ 'vif.global.button.add' | translate }}</button>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-5">
                <div class="row">
                  <div class="col-md-3">
                    <label for="company">{{'vif.appParam.prop_key' | translate}}<span class="asterisk"></span></label>
                  </div>
                  <div class="col-md-9">
                    <div class="form-group">
                      <input type="text" (keydown.enter)="enterOnSubmitPropKey()" name="propKey" [(ngModel)]="appParamSearch.propKey" class="form-control"
                        id="propKey-id" placeholder="{{'vif.appParam.propKey_placeholder' | translate}}">
                    </div>
                  </div>
                </div>
              </div>
              <div class="offset-md-2 col-md-5">
                <div class="row">
                  <div class="col-md-3">
                    <label for="company">{{'vif.appParam.prop_type' | translate}}<span class="asterisk"></span></label>
                  </div>
                  <div class="col-md-9">
                    <div class="form-group">
                      <input type="text" (keydown.enter)="enterOnSubmitPropType()" name="propType" [(ngModel)]="appParamSearch.propType" class="form-control"
                        id="propType-id" placeholder="{{'vif.appParam.propType_placeholder' | translate}}">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <div class="row">
                  <div class="col-md-3">
                    <label for="company">{{'vif.appParam.prop_value' | translate}}<span class="asterisk"></span></label>
                  </div>
                  <div class="col-md-9">
                    <div class="form-group">
                      <input type="text" (keydown.enter)="enterOnSubmitPropValue()" name="propValue" [(ngModel)]="appParamSearch.propValue" class="form-control"
                        id="propValue-id" placeholder="{{'vif.appParam.propValue_placeholder' | translate}}">
                    </div>
                  </div>
                </div>
              </div>
              <div class="offset-md-2 col-md-5">
                <div class="row">
                  <div class="col-md-3">
                    <label for="company">{{'vif.appParam.status' | translate}}<span class="asterisk"></span></label>
                  </div>
                  <div class="col-md-9">
                    <div class="form-group">
                      <select id="select1" name="select1" class="form-control" [(ngModel)]="appParamSearch.activeFlg">
                        <option [ngValue]="atFlg.value" *ngFor="let atFlg of status">{{atFlg.name}}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <div class="row">
                  <div class="col-md-3">
                    <label for="company">{{'vif.appParam.description' | translate}}<span
                        class="asterisk"></span></label>
                  </div>
                  <div class="col-md-9">
                    <div class="form-group">
                      <input type="text" (keydown.enter)="enterOnSubmitDescription()" name="description" [(ngModel)]="appParamSearch.description"
                        class="form-control" id="description-id"
                        placeholder="{{'vif.appParam.description_placeholder' | translate}}">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <button class="btn btn-primary" (click)="search()">{{ 'vif.global.button.search' | translate }}</button>
          <table class="table table-striped mt-3">
            <thead>
              <tr>
                <th>{{'vif.appParam.prop_key' | translate}}</th> 
                <th>{{'vif.appParam.prop_type' | translate}}</th>
                <th style="text-align: right">{{'vif.appParam.prop_value' | translate}}</th>
                <th style="text-align: center">{{'vif.appParam.status' | translate}}</th>
                <th>{{'vif.appParam.description' | translate}}</th>
                <th style="text-align: center">{{'vif.appParam.action' | translate}}</th>
              </tr>
            </thead>
            <tbody *ngIf="appParams && appParams.length>0">
              <tr
                *ngFor="let item of appParams | paginate: { id: 'server', itemsPerPage: pageSize, currentPage: p, totalItems: total}">
                <td>{{item.propKey}}</td>
                <td>{{item.propType}}</td>
                <td style="text-align: right;">{{item.propValue}}</td>
                <td style="text-align: center">
                  <div *ngIf="item.activeFlg==1"><i class="fa fa-check" title="{{'vif.global.other.title_active' | translate}}"
                      style="font-size:25px;color:green"></i></div>
                  <div *ngIf="item.activeFlg!=1"><i class="fa fa-close" title="{{'vif.global.other.title_inactive' | translate}}"
                      style="font-size:25px;color:red"></i></div>
                </td>
                <td>{{item.description}}</td>
                <td style="text-align: center">
                  <a [routerLink]="['/app-param/ce-appParam', item.id]"><i class="fa fa-pencil" title="{{'vif.global.other.title_icon_edit' | translate}}"></i></a>
                  <a style="color: red; margin-left: 10px; cursor: pointer" (click)="confirmDel(template, item.id)" *ngIf="item.activeFlg==1">
                    <i class="fa fa-minus-circle" title="{{'vif.global.other.title_icon_supspend' | translate}}"></i>
                  </a>
                  <a style="color: red; margin-left: 10px; opacity: 0.2;" *ngIf="item.activeFlg<=0">
                      <i class="fa fa-minus-circle" title="{{'vif.global.other.title_icon_supspend' | translate}}"></i>
                  </a>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="!appParams || (appParams && appParams.length <= 0)">
              <span>{{'vif.global.other.emptyItem' | translate}}</span>
            </tbody>
          </table>
          <hr />
          <ul style="float:right;" class="pagination" *ngIf="appParams && appParams.length > 0">
            <pagination-controls (pageChange)="getPage($event)" id="server"
              previousLabel="{{'vif.global.other.previousLabel' | translate}}"
              nextLabel="{{'vif.global.other.nextLabel' | translate}}"></pagination-controls>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{'vif.global.other.note' | translate}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{'vif.global.other.confirmDelCf' | translate}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary"
      (click)="modalRef.hide()">{{'vif.global.button.cancel' | translate}}</button>
    <button type="button" class="btn btn-primary"
      (click)="deleteAppParam()">{{'vif.global.button.accept' | translate}}</button>
  </div>
</ng-template>