<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="clearfix">
          <h1 class="float-left display-3 mr-4">{{'vif.error_page.403' | translate}}</h1>
          <h4 class="pt-3">{{'vif.error_page.403_title' | translate}}</h4>
          <p class="text-muted">{{'vif.error_page.403_content' | translate}}</p>
        </div>
        <div class="input-prepend input-group">
          <span class="input-group-append" style="float:right;">
            <button class="btn btn-info" type="button" routerLink = "/dashboard">{{'vif.global.button.home_page' | translate}}</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
