<div class="animated fadeIn">
  <div class="row">
    <!--/.col-->
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <span>{{ 'vif.user.title1' | translate }}</span>
          <button class="btn btn-primary" [routerLink]="['/user-management/ce-user-management', 0]"
            style="float: right;">{{ 'vif.global.button.add' | translate }}</button>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-5">
                <div class="row">
                  <div class="col-md-3">
                    <label for="company">{{'vif.user.username' | translate}}<span class="asterisk">&#42;</span></label>
                  </div>
                  <div class="col-md-9">
                    <div class="form-group">
                      <input type="text" name="username" [(ngModel)]="userSearch.username" class="form-control"
                        id="username-id" placeholder="{{'vif.user.username_placeholder' | translate}}">
                    </div>
                  </div>
                </div>
              </div>
              <div class="offset-md-2 col-md-5">
                <div class="row">
                  <div class="col-md-3">
                    <label for="company">{{'vif.user.email' | translate}}<span class="asterisk">&#42;</span></label>
                  </div>
                  <div class="col-md-9">
                    <div class="form-group">
                      <input type="text" name="email" [(ngModel)]="userSearch.email" class="form-control" id="email-id"
                        placeholder="{{'vif.user.email_placeholder' | translate}}">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
                    <div class="col-md-5">
                      <div class="row">
                        <div class="col-md-3">
                          <label for="company">{{'vif.user.role' | translate}}<span class="asterisk">&#42;</span></label>
                        </div>
                        <div class="col-md-9">
                          <div class="form-group">
                            <select id="select1" name="select1" class="form-control" [(ngModel)]="userSearch.role">
                              <option [ngValue]="r.value" *ngFor="let r of roles">{{r.name}}</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="offset-md-2 col-md-5">
                      <div class="row">
                        <div class="col-md-3">
                          <label for="company">{{'vif.user.status' | translate}}<span class="asterisk">&#42;</span></label>
                        </div>
                        <div class="col-md-9">
                          <div class="form-group">
                            <select id="select-status" name="selectStatus" class="form-control" [(ngModel)]="userSearch.activeFlg">
                              <option [ngValue]="actFlg.value" *ngFor="let actFlg of status">{{actFlg.name}}</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
          </form>
          <button class="btn btn-primary" (click)="search()">{{ 'vif.global.button.search' | translate }}</button>

          <table class="table table-striped mt-3">
            <thead>
              <tr>
                <th>{{'vif.user.username' | translate}}</th>
                <th>{{'vif.user.email' | translate}}</th>
                <th>{{'vif.user.role' | translate}}</th>
                <th>{{'vif.user.status' | translate}}</th>
                <th>{{'vif.user.action' | translate}}</th>
              </tr>
            </thead>
            <tbody *ngIf="users && users.length > 0">
              <tr *ngFor="let user of users">
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>{{user.role=='ROLE_ADMIN'?'Quản trị viên':user.role=='ROLE_USER'?'Nhà đầu tư':'Khách'}}</td>
                <td>{{user.activeFlg==1?'Hoạt động':'Ngừng hoạt động'}}</td>
                <td>
                  <a [routerLink]="['/user-management/ce-user-management', user.id]"><i class="fa fa-pencil"></i></a>
                  <a style="color: red; cursor: pointer; margin-left: 10px;" (click)="confirmDel(template, user.id)"><i
                      class="fa fa-trash-o"></i></a>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="!users || (users && users.length <= 0)">
              <span>{{'vif.global.other.emptyItem' | translate}}</span>
            </tbody>
          </table>
          <hr />
          <ul style="float:right;" class="pagination" *ngIf="users && users.length > 0">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{'vif.global.other.note' | translate}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{'vif.global.other.confirmDel' | translate}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary"
      (click)="modalRef.hide()">{{'vif.global.button.cancel' | translate}}</button>
    <button type="button" class="btn btn-primary"
      (click)="deleteUser()">{{'vif.global.button.accept' | translate}}</button>
  </div>
</ng-template>