<div class="animated fadeIn">
  <div class="row">
    <!--/.col-->
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <span>{{ 'vif.investor_trans.title' | translate }}</span>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-4">
                  <label for="company">{{'vif.cus_invest_history.from_date' | translate}}</label>
                </div>
                <div class="col-md-8">
                  <div class="form-group">
                    <input type="text" class="form-control" [bsConfig]="bsConfig" bsDatepicker>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="row">
                <div class="col-md-4">
                  <label for="company">{{'vif.cus_invest_history.to_date' | translate}}</label>
                </div>
                <div class="col-md-8">
                  <div class="form-group">
                    <input type="text" class="form-control" [bsConfig]="bsConfig" bsDatepicker>
                  </div>

                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="row">
                <div class="col-md-4">
                  <label for="company">{{'vif.cus_invest_history.customer' | translate}}</label>
                </div>
                <div class="col-md-8">
                  <div class="form-group">
                    <ng-select [searchable]="true">
                      <ng-option [value]="c.id" *ngFor="let c of customers">{{c.fullName}}</ng-option>
                    </ng-select>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12" style="text-align: right;">
              <button type="button" class="btn btn-primary">{{'vif.global.button.search' | translate}}</button>
              <button type="button" class="btn btn-primary">{{'vif.global.button.export_excel' | translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>