<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container pt-4">
      <div class="row" *ngIf="!isChangedPass">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body pt-4">
              <form [formGroup]="changePassForm" (ngSubmit)="onSubmit()">
                <h3>{{'vif.change_pass.title'|translate}}</h3>

                <div *ngIf="f.oldPass.invalid && (f.oldPass.dirty || f.oldPass.touched)" class="alert alert-danger">
                  <div *ngIf="f.oldPass.errors.required">
                    {{'vif.message.password_require' | translate}}
                  </div>
                  <div *ngIf="f.oldPass.errors.minlength">
                    {{'vif.message.password_minlength' | translate}}
                  </div>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" formControlName="oldPass"
                    placeholder="{{'vif.change_pass.old_pass' | translate}}" required>
                </div>

                <div *ngIf="f.newPass.invalid && (f.newPass.dirty || f.newPass.touched)" class="alert alert-danger">
                  <div *ngIf="f.newPass.errors.required">
                    {{'vif.message.password_require' | translate}}
                  </div>
                  <div *ngIf="f.newPass.errors.minlength">
                      {{'vif.message.password_minlength' | translate}}
                    </div>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" formControlName="newPass"
                    placeholder="{{'vif.change_pass.new_pass' | translate}}" required>
                </div>

                <div *ngIf="f.confirmNewPass.invalid && (f.confirmNewPass.dirty || f.confirmNewPass.touched)"
                  class="alert alert-danger">
                  <div *ngIf="f.confirmNewPass.errors.required">
                    {{'vif.message.password_require' | translate}}
                  </div>
                  <div *ngIf="f.confirmNewPass.errors.minlength">
                    {{'vif.message.password_minlength' | translate}}
                  </div>
                  <div *ngIf="f.confirmNewPass.errors.mustMatch">
                    {{'vif.message.password_notmatch' | translate}}
                  </div>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" formControlName="confirmNewPass"
                    placeholder="{{'vif.change_pass.confirm_new_pass' | translate}}" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block">{{'vif.global.button.save'|translate}}</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="isChangedPass">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body pt-4">
              <h3>{{'vif.change_pass.title_success'|translate}}</h3>
              <p style="color:black;">{{'vif.change_pass.content_success'|translate}}</p>
              <button type="button" class="btn btn-primary btn-block" routerLink="/login">{{'vif.global.button.login'|translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
