<div class="animated fadeIn">
  <div class="row">
    <div class="col-12">
      <tabset>
        <tab>
          <ng-template tabHeading><i class="icon-calculator"></i> Tổng quan</ng-template>
          <general-screen *ngIf="dashboard" [dashboard]="dashboard"></general-screen>
        </tab>
        <tab>
          <ng-template tabHeading><i class="fa fa-line-chart"></i> Báo cáo tài sản</ng-template>
          <report-asset-screen *ngIf="dashboard"></report-asset-screen>
        </tab>
        <tab>
          <ng-template tabHeading><i class="icon-pie-chart"></i> NAV của quỹ</ng-template>
          <nav-screen></nav-screen>
        </tab>
      </tabset>
    </div>
  </div>
</div>
