<div class="row" *ngIf="dashboard">
  <!--/.col-->
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <span>Tổng quan tài sản</span>
      </div>
      <div class="card-body">
        <table class="table table-striped mt-3">
          <thead>
            <tr>
              <th>{{'vif.dashboard.general_screen.table.total_asset' | translate}}</th>
              <th>{{'vif.dashboard.general_screen.table.total_real_asset' | translate}}</th>
              <th>{{'vif.dashboard.general_screen.table.total_debt' | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{dashboard.totalAsset | number:'.2-2'}}</td>
              <td>{{dashboard.totalAsset - dashboard.totalDebt | number:'.2-2'}}</td>
              <td>{{dashboard.totalDebt | number:'.2-2'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <!--/.col-->
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <span>Chi tiết tài sản</span>
      </div>
      <div class="card-body">
        <table class="table table-striped mt-3">
          <thead>
            <tr>
              <th>{{'vif.dashboard.general_screen.table.asset_code' | translate}}</th>
              <th>{{'vif.dashboard.general_screen.table.amount' | translate}}</th>
              <th>{{'vif.dashboard.general_screen.table.orginal_price' | translate}}</th>
              <th>{{'vif.dashboard.general_screen.table.current_price' | translate}}</th>
              <th>{{'vif.dashboard.general_screen.table.orginal_money' | translate}}</th>
              <th>{{'vif.dashboard.general_screen.table.current_money' | translate}}</th>
              <th>{{'vif.dashboard.general_screen.table.rate_money' | translate}}</th>
              <th>{{'vif.dashboard.general_screen.table.rate_money' | translate}}(%)</th>
            </tr>
          </thead>
          <tbody *ngIf="assets && assets.length > 0">
            <tr *ngFor="let asset of assets">
              <td>{{asset.assetCode}}</td>
              <td>{{asset.amount>0?(asset.amount | number:'.2-2'):'--'}}</td>
              <td>{{asset.orginalPrice>0?(asset.orginalPrice | number:'.2-2'): '--'}}</td>
              <td>{{asset.currentPrice>0?(asset.currentPrice | number:'.2-2'):'--'}}</td>
              <td>{{1000*asset.orginalPrice*asset.amount | number:'.2-2'}}</td>
              <td>{{1000*asset.currentPrice*asset.amount | number:'.2-2'}}</td>
              <td *ngIf="(asset.currentPrice - asset.orginalPrice)*asset.amount!=0" [ngClass]="(asset.currentPrice - asset.orginalPrice)*asset.amount>0?'positive':'negative'">
                {{1000*(asset.currentPrice - asset.orginalPrice)*asset.amount | number:'.2-2'}}</td>
              <td *ngIf="(asset.currentPrice - asset.orginalPrice)*asset.amount==0">--</td>
              <td *ngIf="(asset.currentPrice - asset.orginalPrice)!=0&&asset.orginalPrice>0"
                [ngClass]="(asset.currentPrice - asset.orginalPrice)/asset.orginalPrice>0?'positive':'negative'">
                {{(asset.currentPrice - asset.orginalPrice)*100/asset.orginalPrice | number:'.2-2'}}%</td>
              <td *ngIf="(asset.currentPrice - asset.orginalPrice)==0 || asset.orginalPrice<=0">--</td>
            </tr>
          </tbody>
          <tbody *ngIf="!assets || (assets && assets.length <= 0)">
            <span>{{'vif.global.other.emptyItem' | translate}}</span>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>