<div class="row" *ngIf="dashboard">
  <!--/.col-->
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <span>Tổng quan tài sản</span>
      </div>
      <div class="card-body">
        <table class="table table-striped mt-3">
          <thead>
            <tr>
              <th>{{'vif.dashboard.general_screen.table.total_asset' | translate}}</th>
              <th>{{'vif.dashboard.general_screen.table.total_real_asset' | translate}}</th>
              <th>{{'vif.dashboard.general_screen.table.total_debt' | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{dashboard.totalAsset | number:'.2-2'}}</td>
              <td>{{dashboard.totalAsset - dashboard.totalDebt | number:'.2-2'}}</td>
              <td>{{dashboard.totalDebt | number:'.2-2'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="dashboard">
  <!--/.col-->
  <div class="col-lg-6 col-md-6 mb-12">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <span>Tiền</span>
          </div>
          <div class="card-body">
            <table class="table">
              <tbody>
                <tr>
                  <td>Tiền mặt</td>
                  <td class="textRight">{{dashboard.cash | number:'.2-2'}}</td>
                </tr>
                <tr>
                  <td>Tiền gửi ngân hàng</td>
                  <td class="textRight">{{dashboard.cs | number:'.2-2'}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <span>Chứng khoán</span>
          </div>
          <div class="card-body">
            <table class="table">
              <tbody>
                <tr>
                  <td>Cổ phiếu</td>
                  <td class="textRight">{{dashboard.shares | number:'.2-2'}}</td>
                </tr>
                <tr>
                  <td>Chứng chỉ quỹ ủy thác</td>
                  <td class="textRight">{{dashboard.itRt | number:'.2-2'}}</td>
                </tr>
                <tr>
                  <td>Tài sản cố định</td>
                  <td class="textRight">0.00</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <span>Nợ</span>
          </div>
          <div class="card-body">
            <table class="table">
              <tbody>
                <tr>
                  <td>Nợ ngắn hạn</td>
                  <td class="textRight">{{dashboard.debtShort | number:'.2-2'}}</td>
                </tr>
                <tr>
                  <td>Nợ dài hạn</td>
                  <td class="textRight">{{dashboard.debtLong | number:'.2-2'}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <span>NAV của quỹ</span>
          </div>
          <div class="card-body">
            <table class="table">
              <tbody>
                <tr>
                  <td>NAV</td>
                  <td class="textRight">{{dashboard.vifCCQPrice | number:'.2-2'}}</td>
                </tr>
                <tr>
                  <td>Tổng chứng chỉ quỹ</td>
                  <td class="textRight">{{dashboard.vifAmountCCQ | number:'.2-2'}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-6 mb-12">
    <div class="row">
      <div class="col-12">
        <div class="card" *ngIf="dashboard">
          <div class="card-header">
            <span>Tỉ lệ tiền/chứng khoán</span>
          </div>
          <div class="card-body">
            <div class="chart-wrapper">
              <canvas baseChart class="chart" [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
                [options]="pieChartOptions" (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="card" *ngIf="dashboard">
          <div class="card-header">
            <span>Tỉ lệ nợ/tài sản ròng</span>
          </div>
          <div class="card-body">
            <div class="chart-wrapper">
              <canvas baseChart class="chart" [data]="pieChartDataNo" [labels]="pieChartLabelsNo"
                [chartType]="pieChartType" [options]="pieChartOptions" (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>