<div class="card">
  <div class="card-header">
    <span *ngIf="id==0">
      <i class="fa fa-user-plus"></i>
      <strong>Tạo mới tài sản</strong>
    </span>
    <span *ngIf="id>0">
      <i class="fa fa-user"></i>
      <strong>Sửa tài sản</strong>
    </span>

  </div>

  <form [formGroup]="addAssetForm" (ngSubmit)="onAddSubmit()">
    <div class="card-body" *ngIf="id==0">
      <div class="row">
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-3">
              <label for="company">Loại tài sản<span class="asterisk">&#42;</span></label>
            </div>
            <div class="col-md-9">
              <div class="form-group">
                <select id="select1" name="select1" class="form-control" formControlName="groupAsset"
                  (change)="onChangeTypeAsset()">
                  <option [ngValue]="r.value" *ngFor="let r of typeAsset">{{r.name}}</option>
                </select>
              </div>

            </div>
          </div>
        </div>
        <div class="offset-md-2 col-md-5">
          <div class="row">
            <div class="col-md-3">
              <label for="company">Mã tài sản<span class="asterisk">&#42;</span></label>
            </div>
            <div class="col-md-9">
              <div class="form-group">
                <input type="text" formControlName="assetCode" class="form-control" id="assetcode-id"
                  placeholder="Nhập vào mã tài sản">
                <!-- <div *ngIf="addForm.username.invalid && (addForm.username.dirty || addForm.username.touched)"
                  class="alert alert-danger">
                  <div *ngIf="addForm.username.errors.required">
                    {{'vif.message.username_require' | translate}}
                  </div>
                </div> -->
              </div>

            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-3">
              <label for="company">Tên tài sản<span class="asterisk">&#42;</span></label>
            </div>
            <div class="col-md-9">
              <div class="form-group">
                <input type="text" formControlName="assetName" class="form-control" id="assetName-id"
                  placeholder="Nhập vào tên tài sản">
              </div>

            </div>
          </div>
        </div>
        <div class="offset-md-2 col-md-5">
          <div class="row">
            <div class="col-md-3">
              <label for="company">Số lượng</label>
            </div>
            <div class="col-md-9">
              <div class="form-group">
                <input type="text" formControlName="amount" class="form-control" id="amount-id"
                  placeholder="Nhập vào số lượng tài sản">
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-3">
              <label for="company">Giá hiện tại<span class="asterisk">&#42;</span></label>
            </div>
            <div class="col-md-9">
              <div class="form-group">
                <input type="text" formControlName="currentPrice" class="form-control" id="currentPrice-id"
                  placeholder="Nhập vào giá hiện tại">
              </div>

            </div>
          </div>
        </div>
        <div class="offset-md-2 col-md-5">
          <div class="row">
            <div class="col-md-3">
              <label for="company">Giá vốn</label>
            </div>
            <div class="col-md-9">
              <div class="form-group">
                <input type="text" formControlName="orginalPrice" class="form-control" id="orginalPrice-id"
                  placeholder="Nhập vào giá vốn">
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-3">
              <label for="company">Mô tả</label>
            </div>
            <div class="col-md-9">
              <div class="form-group">
                <input type="text" formControlName="description" class="form-control" id="description-id"
                  placeholder="Nhập vào mô tả">
              </div>
            </div>
          </div>
        </div>
        <div class="offset-md-2 col-md-5">
          <div class="row">
            <div class="col-md-3">
              <label for="company">Ngành cổ phiếu</label>
            </div>
            <div class="col-md-9">
              <div class="form-group">
                <select id="select2" name="select2" class="form-control" formControlName="branchCode">
                  <option [ngValue]="item.value" *ngFor="let item of typeAsset">{{item.name}}</option>
                </select>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="card-footer">
        <button class="btn btn-primary" type="submit">{{'vif.global.button.save' | translate}}</button>
        <button class="btn btn-secondary"
          routerLink="/asset-management">{{'vif.global.button.cancel' | translate}}</button>
      </div>
    </div>
    <!--[End] Create User-->
  </form>
</div>