<div class="animated fadeIn">
  <div class="row">
    <!--/.col-->
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <span>{{ 'vif.investor_trans.title' | translate }}</span>
        </div>
        <div class="card-body">
          <!--start button buy/ sell-->
          <div class="row" style="position: relative; overflow: hidden; padding-top: 10px;">
            <div class="col-xs-12 col-12" style="text-align: center;">
              <button type="button" [ngClass]="!isBuyScreen?'btn-secondary':'btn-success'" class="btn"
                (click)="changeScreen(1)">{{'vif.global.button.buy_CCQ' | translate}}</button>
              <button style="margin-left: -5px;" type="button" [ngClass]="isBuyScreen?'btn-secondary':'btn-danger'" class="btn"
                (click)="changeScreen(0)">{{'vif.global.button.sell_CCQ' | translate}}</button>
            </div>
          </div>

          <!--end button buy/ sell-->
          <div class="row pt-4 ccq-avaiable" >
              <div class="offset-md-6 col-md-3">
                  <div>Số CCQ hiện tại: {{amountCCQAvaiable}}</div>
              </div>
          </div>
          <!--start buy screen-->
          <div *ngIf="isBuyScreen && customers.length >0" class="buy-screen" style="text-align: center;">
            <form [formGroup]="buyForm" (ngSubmit)="saveCCQ()" form.valid>
              <div class="row">
                <div class="offset-md-3 col-md-6 col-xs-12">
                  <div class="row">
                    <div class="col-md-3 my-label">
                      <label for="company">{{'vif.investor_trans.customer' | translate}}<span
                          class="asterisk">&#42;</span></label>
                    </div>
                    <div class="col-md-9">
                      <div class="form-group" *ngIf="customers.length >0">
                        <ng-select [searchable]="true" formControlName="bCustomerSelectedId" (change)="onChangeAsset()">
                          <ng-option [value]="c.id" *ngFor="let c of customers">{{c.fullName}}</ng-option>
                        </ng-select>
                        <div *ngIf="buyCCQForm.bCustomerSelectedId.invalid && (buyCCQForm.bCustomerSelectedId.dirty || buyCCQForm.bCustomerSelectedId.touched)" class="alert alert-danger">
                          <div *ngIf="buyCCQForm.bCustomerSelectedId.errors.required">
                            {{'vif.investor_trans.customer_required' | translate}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="offset-md-3 col-md-6 col-xs-12">
                  <div class="row">
                    <div class="col-md-3 my-label">
                      <label for="company">{{'vif.investor_trans.amount_CCQ' | translate}}<span
                          class="asterisk">&#42;</span></label>
                    </div>
                    <div class="col-md-9">
                      <div class="form-group">
                        <input currencyMask type="text" class="form-control" id="amount-buy-id" formControlName="bAmountCCQ">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="row">
                <div class="offset-md-3 col-md-6 col-xs-12">
                  <div class="row">
                    <div class="col-md-3 my-label">
                      <label for="company">{{'vif.investor_trans.money' | translate}}<span
                          class="asterisk">&#42;</span></label>
                    </div>
                    <div class="col-md-9">
                      <div class="form-group">
                        <input currencyMask type="text" class="form-control" id="money-buy-id" formControlName="bMoney"
                          placeholder="{{'vif.investor_trans.money_placeholder' | translate}}">
                          <div *ngIf="buyCCQForm.bMoney.invalid && (buyCCQForm.bMoney.dirty || buyCCQForm.bMoney.touched)" class="alert alert-danger">
                            <div *ngIf="buyCCQForm.bMoney.errors.notEqualZero">
                              {{'vif.investor_trans.money_zero' | translate}}
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="offset-md-3 col-md-6 col-xs-12">
                  <div class="row">
                    <div class="col-md-3 my-label">
                      <label for="company">{{'vif.investor_trans.price_CCQ' | translate}}<span
                          class="asterisk">&#42;</span></label>
                    </div>
                    <div class="col-md-9">
                      <div class="form-group">
                        <input currencyMask type="text" class="form-control" id="price-buy-id" formControlName="bPrice" (keyup)="onKeyBPrice($event)"
                          placeholder="{{'vif.investor_trans.price_CCQ_placeholder' | translate}}">
                          <div *ngIf="buyCCQForm.bPrice.invalid && (buyCCQForm.bPrice.dirty || buyCCQForm.bPrice.touched)" class="alert alert-danger">
                            <div *ngIf="buyCCQForm.bPrice.errors.notEqualZero">
                              {{'vif.investor_trans.price_zero' | translate}}
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mt-3">
                <div class="offset-md-3 col-md-6 col-xs-12 my-button">
                  <button type="submit" class="m-btn btn btn-success">{{'vif.global.button.buy' | translate}}</button>
                  <button type="button" class="m-btn btn btn-secondary"
                    (click)="resetForm()">{{'vif.global.button.cancel' | translate}}</button>
                </div>
              </div>
            </form>
          </div>
          <!--end buy screen-->

          
          <!--start sell screen-->
          <div *ngIf="!isBuyScreen && customers.length >0" class="buy-screen" style="text-align: center;">
            <form [formGroup]="sellForm" (ngSubmit)="saveCCQ()">
              <div class="row">
                <div class="offset-md-3 col-md-6 col-xs-12">
                  <div class="row">
                    <div class="col-md-3 my-label">
                      <label for="company">{{'vif.investor_trans.customer' | translate}}<span
                          class="asterisk">&#42;</span></label>
                    </div>
                    <div class="col-md-9">
                      <div class="form-group">
                        <ng-select [searchable]="true" formControlName="sCustomerSelectedId" (change)="onChangeAsset()">
                          <ng-option [value]="c.id" *ngFor="let c of customers">{{c.fullName}}</ng-option>
                        </ng-select>
                        <div *ngIf="sellCCQForm.sCustomerSelectedId.invalid && (sellCCQForm.sCustomerSelectedId.dirty || sellCCQForm.sCustomerSelectedId.touched)" class="alert alert-danger">
                          <div *ngIf="sellCCQForm.sCustomerSelectedId.errors.required">
                            {{'vif.investor_trans.customer_required' | translate}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="offset-md-3 col-md-6 col-xs-12">
                  <div class="row">
                    <div class="col-md-3 my-label">
                      <label for="company">{{'vif.investor_trans.amount_CCQ' | translate}}<span
                          class="asterisk">&#42;</span></label>
                    </div>
                    <div class="col-md-9">
                      <div class="form-group">
                        <input currencyMask type="text" class="form-control" id="amount-sell-id" formControlName="sAmountCCQ"
                          placeholder="{{'vif.investor_trans.amount_CCQ_placeholder' | translate}}">
                          <div *ngIf="sellCCQForm.sAmountCCQ.invalid && (sellCCQForm.sAmountCCQ.dirty || sellCCQForm.sAmountCCQ.touched)" class="alert alert-danger">
                            
                            <div *ngIf="sellCCQForm.sAmountCCQ.errors.mustLessThan">
                                {{'vif.investor_trans.amount_CCQ_must_less' | translate}}
                            </div>
                            <div *ngIf="sellCCQForm.sAmountCCQ.errors.notEqualZero">
                                {{'vif.investor_trans.amount_CCQ_zero' | translate}}
                              </div>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <input type="text" style="display:none;" class="form-control" id="amount-buy-id" formControlName="sAmountCCQAvai">
              <div class="row">
                <div class="offset-md-3 col-md-6 col-xs-12">
                  <div class="row">
                    <div class="col-md-3 my-label">
                      <label for="company">{{'vif.investor_trans.money' | translate}}<span
                          class="asterisk">&#42;</span></label>
                    </div>
                    <div class="col-md-9">
                      <div class="form-group">
                        <input currencyMask type="text" class="form-control" id="money-sell-id" formControlName="sMoney">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="offset-md-3 col-md-6 col-xs-12">
                  <div class="row">
                    <div class="col-md-3 my-label">
                      <label for="company">{{'vif.investor_trans.price_CCQ' | translate}}<span
                          class="asterisk">&#42;</span></label>
                    </div>
                    <div class="col-md-9">
                      <div class="form-group">
                        <input currencyMask type="text" class="form-control" id="price-id" formControlName="sPrice" (keyup)="onKeySPrice($event)"
                          placeholder="{{'vif.investor_trans.price_CCQ_placeholder' | translate}}">
                          <div *ngIf="sellCCQForm.sPrice.invalid && (sellCCQForm.sPrice.dirty || sellCCQForm.sPrice.touched)" class="alert alert-danger">
                            <div *ngIf="sellCCQForm.sPrice.errors.notEqualZero">
                              {{'vif.investor_trans.price_zero' | translate}}
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mt-3">
                <div class="offset-md-3 col-md-6 col-xs-12 my-button">
                  <button type="submit" class="m-btn btn btn-danger">{{'vif.global.button.sell' | translate}}</button>
                  <button type="button" class="m-btn btn btn-secondary"
                    (click)="resetForm()">{{'vif.global.button.cancel' | translate}}</button>
                </div>
              </div>
            </form>
          </div>
          <!--end sell screen-->
        </div>
      </div>
    </div>
  </div>
</div>

