<div class="animated fadeIn">
  <div class="row">
    <!--/.col-->
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <span>{{ 'vif.invest_request.title' | translate }}</span>
        </div>
        <div class="card-body">
          <!--start button buy/ sell-->
          <div class="row" style="position: relative; overflow: hidden; padding-top: 10px;">
            <div class="col-xs-12 col-12" style="text-align: center;">
              <button type="button" [ngClass]="!isBuyScreen?'btn-secondary':'btn-success'" class="btn"
                (click)="changeScreen(1)">{{'vif.global.button.buy_CCQ' | translate}}</button>
              <button style="margin-left: -5px;" type="button" [ngClass]="isBuyScreen?'btn-secondary':'btn-danger'"
                class="btn" (click)="changeScreen(0)">{{'vif.global.button.sell_CCQ' | translate}}</button>
            </div>
          </div>

          <!--end button buy/ sell-->

          <!--start buy screen-->
          <div *ngIf="isBuyScreen && customer && buyForm.value.price" class="buy-screen" style="text-align: center;">
            <form [formGroup]="buyForm" (ngSubmit)="saveCCQ()" form.valid>
              <div class="row pt-4 ccq-avaiable">
                <div class="offset-md-6 col-md-3">
                  <div>{{'vif.invest_request.CCQ_real' | translate}}: {{amountCCQAvaiable}}</div>
                </div>
              </div>

              <div class="row">
                <div class="offset-md-3 col-md-6 col-xs-12">
                  <div class="row">
                    <div class="col-md-3 my-label">
                      <label for="company">{{'vif.invest_request.price' | translate}}<span
                          class="asterisk">&#42;</span></label>
                    </div>
                    <div class="col-md-9">
                      <div class="form-group">
                        <input currencyMask type="text" disabled class="form-control" formControlName="price">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="row">
                <div class="offset-md-3 col-md-6 col-xs-12">
                  <div class="row">
                    <div class="col-md-3 my-label">
                      <label for="company">{{'vif.global.other.transaction_type' | translate}}<span
                          class="asterisk">&#42;</span></label>
                    </div>
                    <div class="col-md-9">
                      <div class="form-group">
                          <select id="select1" (change)="onChangeTransType()" name="select1" class="form-control" formControlName="bTransType">
                            <option [ngValue]="r.value" *ngFor="let r of transType">{{r.name}}</option>
                          </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row" *ngIf="isCCQDB">
                <div class="offset-md-3 col-md-6 col-xs-12">
                  <div class="row">
                    <div class="col-md-3 my-label">
                      <label for="company">{{'vif.global.other.ccq_db' | translate}}<span
                          class="asterisk">&#42;</span></label>
                    </div>
                    <div class="col-md-9">
                      <div class="form-group">
                        <ng-select [searchable]="true" formControlName="bCCQDBSelectedCode" (change)="onChangeEnsureCCQ()">
                          <ng-option [value]="c.assetCode" *ngFor="let c of assets">{{c.assetCode}}</ng-option>
                        </ng-select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="offset-md-3 col-md-6 col-xs-12">
                  <div class="row">
                    <div class="col-md-3 my-label">
                      <label for="company">{{'vif.invest_request.CCQTemp' | translate}}<span
                          class="asterisk">&#42;</span></label>
                    </div>
                    <div class="col-md-9">
                      <div class="form-group">
                        <input currencyMask type="text" class="form-control" id="amount-buy-id" formControlName="bCCQ">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="offset-md-3 col-md-6 col-xs-12">
                  <div class="row">
                    <div class="col-md-3 my-label">
                      <label for="company">{{'vif.invest_request.moneyInvest' | translate}}<span
                          class="asterisk">&#42;</span></label>
                    </div>
                    <div class="col-md-9">
                      <div class="form-group">
                        <input currencyMask type="text" class="form-control" id="money-buy-id" formControlName="bMoney"
                          (keyup)="onKeyMoney($event)"
                          placeholder="{{'vif.investor_trans.money_placeholder' | translate}}">
                        <div *ngIf="buyCCQForm.bMoney.invalid && (buyCCQForm.bMoney.dirty || buyCCQForm.bMoney.touched)"
                          class="alert alert-danger">
                          <div *ngIf="buyCCQForm.bMoney.errors.notEqualZero">
                            {{'vif.investor_trans.money_zero' | translate}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="offset-md-3 col-md-6 col-xs-12 my-button">
                  <button type="submit"
                    class="m-btn btn btn-success">{{'vif.invest_request.register_CCQ' | translate}}</button>
                  <button type="button" class="m-btn btn btn-secondary"
                    (click)="resetForm()">{{'vif.global.button.cancel' | translate}}</button>
                </div>
              </div>
            </form>
          </div>
          <!--end buy screen-->

          <div *ngIf="!isBuyScreen && customer" class="buy-screen" style="text-align: center;">
            <form [formGroup]="sellForm" (ngSubmit)="saveCCQ()" form.valid>
              <div class="row pt-4 ccq-avaiable">
                <div class="offset-md-6 col-md-3">
                  <div>{{'vif.invest_request.CCQ_using' | translate}}: {{amountCCQAvaiable}}</div>
                </div>
              </div>
              <div class="row">
                <div class="offset-md-3 col-md-6 col-xs-12">
                  <div class="row">
                    <div class="col-md-3 my-label">
                      <label for="company">{{'vif.invest_request.price' | translate}}<span
                          class="asterisk">&#42;</span></label>
                    </div>
                    <div class="col-md-9">
                      <div class="form-group">
                        <input currencyMask type="text" disabled class="form-control" formControlName="price">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="offset-md-3 col-md-6 col-xs-12">
                  <div class="row">
                    <div class="col-md-3 my-label">
                      <label for="company">{{'vif.global.other.transaction_type' | translate}}<span
                          class="asterisk">&#42;</span></label>
                    </div>
                    <div class="col-md-9">
                      <div class="form-group">
                          <select id="select1" (change)="onChangeSellTransType()" name="select1" class="form-control" formControlName="sTransType">
                            <option [ngValue]="r.value" *ngFor="let r of transType">{{r.name}}</option>
                          </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row" *ngIf="isSellCCQDB">
                <div class="offset-md-3 col-md-6 col-xs-12">
                  <div class="row">
                    <div class="col-md-3 my-label">
                      <label for="company">{{'vif.global.other.ccq_db' | translate}}<span
                          class="asterisk">&#42;</span></label>
                    </div>
                    <div class="col-md-9">
                      <div class="form-group">
                        <ng-select [searchable]="true" formControlName="sCCQDBSelectedCode" (change)="onChangeEnsureCCQ()">
                          <ng-option [value]="c.assetCode" *ngFor="let c of assets">{{c.assetCode}}</ng-option>
                        </ng-select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="offset-md-3 col-md-6 col-xs-12">
                  <div class="row">
                    <div class="col-md-3 my-label">
                      <label for="company">{{'vif.investor_trans.amount_CCQ' | translate}}<span
                          class="asterisk">&#42;</span></label>
                    </div>
                    <div class="col-md-9">
                      <div class="form-group">
                        <input currencyMask type="text" class="form-control" id="amount-sell-id" formControlName="sCCQ"
                          (keyup)="onKeyCCQ($event)">
                        <div *ngIf="sellCCQForm.sCCQ.invalid && (sellCCQForm.sCCQ.dirty || sellCCQForm.sCCQ.touched)"
                          class="alert alert-danger">
                          <div *ngIf="sellCCQForm.sCCQ.errors.notEqualZero">
                            {{'vif.invest_request.CCQ_zero' | translate}}
                          </div>
                          <div *ngIf="sellCCQForm.sCCQ.errors.mustLessThan">
                            {{'vif.investor_trans.amount_CCQ_must_less' | translate}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <input type="text" style="display:none;" class="form-control" id="amount-buy-id"
                formControlName="sAmountCCQAvai">
              <div class="row">
                <div class="offset-md-3 col-md-6 col-xs-12">
                  <div class="row">
                    <div class="col-md-3 my-label">
                      <label for="company">{{'vif.invest_request.moneyTemp' | translate}}<span
                          class="asterisk">&#42;</span></label>
                    </div>
                    <div class="col-md-9">
                      <div class="form-group">
                        <input currencyMask type="text" class="form-control" id="money-buy-id" formControlName="sMoney">

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="offset-md-3 col-md-6 col-xs-12 my-button">
                  <button type="submit"
                    class="m-btn btn btn-danger">{{'vif.invest_request.register_CCQ' | translate}}</button>
                  <button type="button" class="m-btn btn btn-secondary"
                    (click)="resetForm()">{{'vif.global.button.cancel' | translate}}</button>
                </div>
              </div>
            </form>
          </div>



        </div>
      </div>
    </div>
  </div>
</div>