.my-label {
  text-align: left;
}

  .my-button {
  .m-btn {
    width: 100px;
    float: left;
    margin-right: 5px;
  }
}  

.alert {
  text-align: left;
}

.ccq-avaiable {
  text-align: right;
  color: green;
  font-weight: 600;
}